In [1]:
#import libraries
import numpy as np
import pandas as pd

from sklearn.metrics import normalized_mutual_info_score, jaccard_score

In [2]:
#import text file into dataframe
df_truth = pd.read_csv(r'C:\Users\Galvin\Desktop\validation\partitions.txt', sep=' ', names=['id','label'], index_col=['id'])
df_truth

     label
id
1        2
2        0
3        2
4        1
5        2
..     ...
296      0
297      0
298      2
299      2
300      2

[300 rows x 1 columns]

In [3]:
#import text files into list of dataframes
df_list = []
for i in range(1,6):
    filepath = str(i).join([r'C:\Users\Galvin\Desktop\validation\clustering_','.txt'])
    df_list.append(pd.read_csv(filepath ,sep=' ',names=['id','label'],index_col=['id']))
df_list

[     label
 id
 1        2
 2        0
 3        2
 4        1
 5        2
 ..     ...
 296      0
 297      0
 298      2
 299      2
 300      2

 [300 rows x 1 columns],      label
 id
 1        2
 2        0
 3        1
 4        1
 5        2
 ..     ...
 296      0
 297      0
 298      2
 299      2
 300      2

 [300 rows x 1 columns],      label
 id
 1        2
 2        0
 3        1
 4        1
 5        2
 ..     ...
 296      0
 297      0
 298      0
 299      1
 300      2

 [300 rows x 1 columns],      label
 id
 1        2
 2        0
 3        2
 4        1
 5        2
 ..     ...
 296      0
 297      0
 298      2
 299      2
 300      2

 [300 rows x 1 columns],      label
 id
 1        0
 2        0
 3        0
 4        1
 5        0
 ..     ...
 296      0
 297      0
 298      0
 299      0
 300      0

 [300 rows x 1 columns]]

In [4]:
#validate cluster labels
nmi = [normalized_mutual_info_score(df_truth['label'], cluster['label']) for cluster in df_list]
jac = [jaccard_score(df_truth['label'], cluster['label'], average='macro') for cluster in df_list]

C:\Users\Galvin\Anaconda3\lib\site-packages\sklearn\metrics\cluster\supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)
C:\Users\Galvin\Anaconda3\lib\site-packages\sklearn\metrics\cluster\supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)
C:\Users\Galvin\Anaconda3\lib\site-packages\sklearn\metrics\cluster\supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)
C:\Users\Galvin\Anaconda3\lib\site-packages\sklearn\metrics\cluster\supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)
C:\Users\Galvin\Anaconda3\lib\site-packages\sklearn\metrics\cluster\supervised.py:859: FutureWarning: The behavior of NMI will change in version 0.22. To match the behavior of 'v_measure_score', NMI will use average_method='arithmetic' by default.
  FutureWarning)

In [5]:
#create submission dataframe
submission = pd.DataFrame({'NMI_score':nmi,'Jac_score':jac}, columns=['NMI_score', 'Jac_score'])
submission

   NMI_score  Jac_score
0   0.889625   0.954439
1   0.645637   0.813315
2   0.391544   0.644307
3   0.767789   0.537061
4   0.761170   0.500000

In [6]:
#export submission dataframe as text file
submission.to_csv(r'C:\Users\Galvin\Desktop\validation\scores.txt',sep=' ',header=False,index=False)